.characterItem {
  border-radius: var(--b-radius);
  background-color: white;

  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #2c2c2c;

  box-shadow: var(--box-shadow);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

}

.characterItem:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 1px #474747;
}

.characterItem img {
  overflow: hidden;
}

.characterInfo {
  width: 100%;
  padding: 10px;
}

@media (max-width: 613px) {
  .characterItem {
    flex-direction: row;
  }

  .characterItem img {
    max-width: 100px;
  }
}