.button {
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
  text-align: center;
  white-space: nowrap;

  background-color: var(--primary);
  border-color: transparent;
  color: #fff;

  font-size: 1.3rem;

}

.button[disabled] {
  background-color: var(--primary);
  border-color: transparent;
  box-shadow: none;
  opacity: .5;
  cursor: not-allowed;
  pointer-events: none;
}