.loadingImage {
  max-width: 300px;
  margin: auto;
  display: block;
  position: relative;
  top: 20%;
}

.loadingContainer {
  backdrop-filter: blur(6px);
  background-color: #ffffffbf;
  padding: 50px 20px;
  border-radius: var(--b-radius);
}